#top{
    height:200px;
    width:200px;
    background-color: red;
}

#dice-image{
    width:100px;
    height:100px;
}

#entirety{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

#io-div{
    display: flex;
    flex-direction: column;
    align-items:center;

}